

<!DOCTYPE html>
    <html lang="es">
        <head>
         
            <link rel="stylesheet" type="text/css" href="D:\PROYECTO-DEPORTES\Pruebas\registracion\static\css\estilos.css">       
        
            <title>proyecto2016</title>
        </head>
        <body>
            <div id="principal">
                <div id="cabecera">
                  <div id="logoUTN" background-image= "D:\PROYECTO-DEPORTES\Pruebas\registracion\static\img\utnLogo.png">
                  
                  </div>
                      
                   cabecera

                </div>
                
                <div id="menuIzq">
                    menu Izquierdo
                </div>
                <div id="contenedor">
                    contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor
                </div>
                <div class="clear">
                 
                </div>
                <div id="pie">
                    pie
                </div>
            </div>     

        </body>
    </html>